/* GENERAL */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #fafafa;
  font: 400 0.938rem Poppins, sans-serif;
  padding: 2.5rem;
}

.visually-hidden:not(:focus, :active) {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* FOUR-CARD-FEATURE-SECTION */
.four-card-feature-section {
  max-width: 19.4rem;
}

/* section-introduction */
.section-introduction {
  text-align: center;
  margin-bottom: 4.5rem;
}

.introduction-slogan {
  color: #4c4e61;
  font: 200 1.4rem Poppins, sans-serif;
  line-height: 1.65;
  margin-bottom: 1rem;
}

.introduction-slogan > span {
  font-weight: 600;
}

.introduction-description {
  color: #a3a5ae;
  line-height: 1.65;
}

/* section-cards */
.section-cards {
  display: flex;
  flex-direction: column;
  gap: 1.55rem;
}

.card {
  height: 13.8rem;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px #00000015;
  padding: 1.4rem 1.8rem;
}

.card > h2 {
  color: #4c4e61;
  font: 600 1.2rem Poppins, sans-serif;
  margin-bottom: 0.35rem;
}

.card-description {
  color: #a3a5ae;
  font: 400 0.82rem Poppins, sans-serif;
  line-height: 1.65;
}

/* card-supervisor */
.card-supervisor {
  border-top: 4px solid #45d3d3;
  background: url("../images/icon-supervisor.svg") bottom 28px right 28px / 18%
    no-repeat;
}

/* card-team-builder */
.card-team-builder {
  border-top: 4px solid #ea5353;
  background: url("../images/icon-team-builder.svg") bottom 28px right 28px /
    18% no-repeat;
}

/* card-karma */
.card-karma {
  border-top: 4px solid #fcaf4a;
  background: url("../images/icon-karma.svg") bottom 28px right 28px / 18%
    no-repeat;
}

/* card-calculator */
.card-calculator {
  border-top: 4px solid #549ef2;
  background: url("../images/icon-calculator.svg") bottom 28px right 28px / 18%
    no-repeat;
}
